{% extends 'base.html' %}

{% block more-style %}

{% endblock %}

{% block body-content %}

<div class="container-fluid">
  <div class="row text-center salmon-color">
    <h1>Distributed Code Editor</h1>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" id="codebox">
      <textarea id="myTextarea"></textarea>
    </div>
  </div>
  <div class="text-center">
    {% if user %}
    <button type="button" class="btn btn-salmon" id="update">Update to server</button>
    {% endif %}
    <button type="button" class="btn btn-salmon" id="fetch">Fetch latest from server</button>
<!-- Button trigger modal -->
<button type="button" class="btn btn-salmon" data-toggle="modal" data-target="#myModal" id="modal-wala">
  Fetch by history
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">History of committed code</h4>
      </div>
      <div class="modal-body" id="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-salmon" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary hidden">Save changes</button>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
{% endblock %}

{% block morescript %}
<!-- Create a simple CodeMirror instance -->
<link rel="stylesheet" href="/codemirror-5.8/lib/codemirror.css">
<link rel="stylesheet" href="/codemirror-5.8/theme/dracula.css">
<script src="/codemirror-5.8/lib/codemirror.js"></script>
<script src="/codemirror-5.8/mode/javascript/javascript.js"></script>
<script>
  var editor = CodeMirror.fromTextArea(myTextarea, {
    lineNumbers: true,
    mode: "javascript",
    matchBrackets: true,
    theme: "dracula"
  });
</script>
<script>
  var setModal = function(doc){
    for(var idx in doc){
      $("#modal-body").prepend('<p>Commit <strong>'+doc[idx]._id+'</strong> by <strong>'+doc[idx].name+'</strong><br><br><a href="/forapproval/'+doc[idx]._id+'">Review and approve this code</a></p><hr>');
    }
    if(doc.length==0){
      $("#modal-body").append("No Commit History present");
    }
  };
  var fetchOnLoad = function(){
      $.ajax({
        url: "/mycode",
        context: document.body
      }).done(function(doc) {
        editor.doc.setValue(doc);
      });
    };
    
    var fetchById = function(id){
      var fetchurl = "/codebyid/"+id;
      $.ajax({
        url: fetchurl,
        context: document.body
      }).done(function(doc){
        editor.doc.setValue(doc);
      });
    };
</script>
<script type="text/javascript">
  $(document).ready(function(){
    $("#fetch").on("click", fetchOnLoad);
    
    $("#update").on("click", function(){
      var datum = editor.doc.getValue();
      console.log(datum);
      $.post("/mycode", {"codedata": datum});
    });
    
    $("#modal-wala").on("click", function(){
      $.ajax({
        url: "/code",
        context: document.body
      }).done(function(doc){
        setModal(doc);
      });
    });
    
  });
</script>
<script>
  $(document).ready(function(){
    var pre = "{{ pre }}";
    var codeId = "{{ fetchId }}";
    if(pre){
      fetchById(codeId);
    } else{
      fetchOnLoad();
    }
  });
</script>
{% endblock %}